.sidebar {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-right: 1px solid #f3d0d8;
  padding: 25px 15px;
}
.sidebar img {
  width: 20px;
}
.sidebar .menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;
}
.sidebar .new-chat {
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: #f8bbd0;
  border-radius: 50px;
  font-size: 14px;
  color: rgb(2, 0, 0);
  cursor: pointer;
}

.sidebar .new-chat:hover {
  background: #f9bbe0;
  color: #fff;
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
  animation: fadeIn 1.5s;
}

.sidebar .recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.sidebar .recent-entry {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 50px;
  color: black;
  cursor: pointer;
}
.sidebar .recent-entry:hover {
  background-color: rgb(227, 209, 209);
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
}

.sidebar .bottom-item {
  padding-right: 10px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
